.hero-image {
  background-image: url("../../assets/banner.png");
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  background-position: 35% 85%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.hero-text {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: "Euclid Circular A", sans-serif;
}


.bodySection {
  margin-left: 100px;
  margin-right: 100px;
}
